# Compiled class files
*.class

# Logs
*.log

# BlueJ
*.ctxt

# J2ME
.mtj.tmp/

# Build output
build/
dist/

# NetBeans
nbproject/private/
.netbeans_automatic_build
.netbeans_update_resources

# Configurações locais
src/config.properties
nbproject/private/config.properties
build/classes/config.properties

# Packages
*.jar
!lib/*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*